<header class="header" role="banner">
	<div class="inner">
		<div class="unit size4of4 lastUnit">
			<a href="http://spnhc-tdwg2018.nz/" class="brand" rel="home">
                <img src="http://spnhc-tdwg2018.nz/themes/spnhc/images/SPNHC.TDWG_Color.png" />
                <div class="brand-header">
                    <h1>SPNHC+TDWG</h1>
                    <h1>2018 Conference</h1>
	                <h2>Collections and Data in an Uncertain World</h2>
                </div>
			</a>
        </div>
        <nav class="primary">
            <span class="nav-open-button"></span>
            <ul>
    			<li class="current"><a href="http://spnhc-tdwg2018.nz/" title="Welcome">Welcome</a></li>
    			<li class="link"><a href="/conferences/2018/call-for-abstracts" title="Call for Abstracts">Call for Abstracts</a></li>
                <li class="link"><a href="/conferences/2018/instructions-for-authors" title="Instructions for Authors">Instructions for Authors</a></li>
                <li class="link"><a href="/conferences/2018/instructions-for-editors" title="Instructions for Editors">Instructions for Editors</a></li>
                <li class="link"><a href="/conferences/2018/sessions/index" title="Symposia and Workshops">Symposia and Workshops</a></li>
            </ul>
        </nav>
	</div>
</header>
