<ul class="dropdown">
    <li><a href="#">Symposia</a>
        <ul class="sub_menu">
             <li><a href="/conferences/2018/sessions/S01">S01 - New Joint Pathways for the Biodiversity Data Community and Systematists</a></li>
             <li><a href="/conferences/2018/sessions/S02">S02 - Species-centered projects, tools and methods</a></li>
             <li><a href="/conferences/2018/sessions/S03">S03 - Biodiversity Heritage Library: Strategies for Improving Research Efficiency and Delivering Biodiversity Data through Digital Library Collections</a></li>
             <li><a href="/conferences/2018/sessions/S05">S05 - The Global Genome Biodiversity Network (GGBN) Standards for Molecular Collections</a></li>
             <li><a href="/conferences/2018/sessions/S06">S06 - Science Powered by Informatics - The Next Steps</a></li>
             <li><a href="/conferences/2018/sessions/S07">S07 - Citizen Science and Biodiversity Informatics for Natural History Collections and Field Observations</a></li>
             <li><a href="/conferences/2018/sessions/S08">S08 - Biodiversity Data Quality – alpha to omega</a></li>
             <li><a href="/conferences/2018/sessions/S09">S09 - Data Integration and Attribution in the Web of Natural History Data</a></li>
             <li><a href="/conferences/2018/sessions/S10">S10 - Digital Collection Data: storage, archive and disaster recovery</a></li>
             <li><a href="/conferences/2018/sessions/S11">S11 - Invasive Species Experts&apos; Panel: Breaking Information Silos</a></li>
             <li><a href="/conferences/2018/sessions/S12">S12 - DINA: Towards a Community-Driven Collection Management and Open Source System</a></li>
             <li><a href="/conferences/2018/sessions/S13">S13 - Metabarcoding, Metagenomics and Biomonitoring</a></li>
             <li><a href="/conferences/2018/sessions/S14">S14 - Linking biodiversity data through phylogenetic knowledge</a></li>
             <li><a href="/conferences/2018/sessions/S15">S15 - Biological Interaction Data: towards data standardization</a></li>
        </ul>
    </li>
    <li><a href="#">Workshops</a>
        <ul class="sub_menu">
            <li><a href="/conferences/2018/sessions/W01">W01 - Training workshop in auditing and cleaning of biodiversity data</a></li>
            <li><a href="/conferences/2018/sessions/W03">W03 - Analogue to digital: faster better cheaper</a></li>
            <li><a href="/conferences/2018/sessions/W04">W04 - Next generation biodiversity data: developing an international traits system</a></li>
            <li><a href="/conferences/2018/sessions/W05">W05 - Developing a mechanism to coordinate planning and investment in biodiversity informatics</a></li>
            <li><a href="/conferences/2018/sessions/W06">W06 - The Living Atlases community in action: demonstration of real implementations of Atlas of Living Australia modules</a></li>
            <li><a href="/conferences/2018/sessions/W07">W07 - Improving research linking and visibility of specimens and physical samples through standardised identifiers and metadata</a></li>
            <li><a href="/conferences/2018/sessions/W08">W08 - Standardizing data to Darwin Core using R: A hands-on workshop with lessons learned from the TrIAS project</a></li>
            <li><a href="/conferences/2018/sessions/W10">W10 - Mapping the Citizen Science Agenda at TDWG with a focus on the PPSR core and Data Quality</a></li>
            <li><a href="/conferences/2018/sessions/W11">W11 - Workshop of the TDWG Data Quality Interest Group</a></li>
            <li><a href="/conferences/2018/sessions/W12">W12 - Standards for Interoperability for Bio-logging Data</a></li>
            <li><a href="/conferences/2018/sessions/W13">W13 - Audubon Core Workshop</a></li>
            <li><a href="/conferences/2018/sessions/W14">W14 - Deep Learning for Biodiversity</a></li>
            <li><a href="/conferences/2018/sessions/W15">W15 - Carpentries Instructor Training Workshop</a></li>
            <li><a href="/conferences/2018/sessions/W16">W16 - Defining 21st Century Biodiversity Data Literacy Skills: A Roundtable Discussion</a></li>
            <li><a href="/conferences/2018/sessions/W17">W17 - Biological Interaction Data Interest Group</a></li>
            <li><a href="/conferences/2018/sessions/W18">W18 - Names for Biodiversity</a></li>
        </ul>
    </li>
</ul>
