<header class="header" role="banner">
	<div class="inner">
		<div class="unit size4of4 lastUnit">
			<a href="http://spnhc-tdwg2018.nz/" class="brand" rel="home">
                <img src="/assets/images/SPNHC.TDWG_Color.png" />
                <div class="brand-header">
                    <h1>SPNHC+TDWG</h1>
                    <h1>2018 Conference</h1>
	                <h2>Collections and Data in an Uncertain World</h2>
                </div>
			</a>
            <nav class="primary">
                <span class="nav-open-button">²</span>
                <ul>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/" title="Welcome">Welcome</a></li>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/conference/" title="Conference">Conference</a></li>
                	<li class="section"><a href="http://spnhc-tdwg2018.nz/abstract-submission/" title="Abstract Submission">Abstract Submission</a></li>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/about-dunedin/" title="About Dunedin">About Dunedin</a></li>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/registration/" title="Registration">Registration</a></li>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/travel-grants/" title="Travel Grants">Travel Grants</a></li>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/sponsors-and-exhibitors/" title="Become a Sponsor">Become a Sponsor</a></li>
                	<li class="link"><a href="http://spnhc-tdwg2018.nz/conference/local-organising-committee/" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
		</div>
	</div>
</header>
