<head>
	<title>TDWG Submissions &raquo; SPNHC+TDWG Conference 2018</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="/assets/tdwg2018/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/tdwg2018/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/tdwg2018/css/typography.css" />
    <link rel="stylesheet" type="text/css" href="/assets/twdg2018/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/assets/tdwg2018/css/layout.css" />
</head>
