<nav class="secondary">
        <h3>Abstract Submission</h3>
        <ul>
            <li class="link">
                <a href="http://spnhc-tdwg2018.nz/abstract-submission/spnhc-submissions/" class="link" title="Go to the SPNHC Submissions page">
                    <span class="text">SPNHC Submissions</span>
                </a>
            </li>
            <li class="current">
                <a href="/conferences/2018/call-for-abstracts" class="current" title="Go to the TDWG Submissions page">
                    <span class="text">TDWG Submissions</span>
                </a>
                <ul>
                    <li class="link">
                        <a href="/conferences/2018/call-for-abstracts" class="link" title="Call for abstracts">
                            <span class="text">Call for abstracts</span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="/conferences/2018/instructions-for-authors" class="link" title="Instructions for authors">
                            <span class="text">Instructions for authors</span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="/conferences/2018/instructions-for-editors" class="link" title="Instructions for editors">
                            <span class="text">Instructions for editors</span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="/conferences/2018/sessions/" class="link" title="Symposia and workshops">
                            <span class="text">Symposia and workshops</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
</nav>
