body {
  padding-top: 20px;
  padding-bottom: 20px;
}

ol li {
  margin-bottom:0.5em;
}

.header {
  margin-top:1.5em;
}

.navbar {
  margin-bottom: 20px;
}

.page-main {
  text-align:right;
  margin-top:0.5em;
}

.jumbotron-main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../media/photo-1444877466744-dc2f2af2b931.jpeg");
  margin-left:0px;
  margin-right:0px;
}
.jumbotron-main h1, .jumbotron-main h2, .jumbotron-main h3, .jumbotron-main p {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align:center;
}

.jumbotron-main .col-xs-2{display:none;}
.jumbotron-main .col-xs-10{width:100%;}

.jumbotron {
  text-align:center;
}

.jumbotron-list{
  width:95%;
  margin:0px auto;
  margin-bottom:20px;
  text-align:left;
}

.embed-responsive-gsheet {
  padding-top: 65%;
}

.embed-responsive-gdoc {
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position:relative;
  min-height:100%;
}

.embed-responsive-gdoc iframe {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#section-news {
  margin-top:1.5em;
}

#section-news p.reg-btn {
  text-align:center;
  width:100%;
}

.faq{
  margin-top:2em;
}

.faq dd{
  margin-bottom:1em;
  margin-left:1em;
}

#instructions img {
  margin:0.5em 0;
  display:block;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.agenda {}
/* Dates */

.agenda .agenda-date {
    width: 170px;
    min-width:135px;
}

.agenda .agenda-date .dayofmonth {
    width: 40px;
    font-size: 36px;
    line-height: 36px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.agenda .agenda-date .shortdate {
    font-size: 0.75em;
}
/* Times */

.agenda .agenda-time {
    width: 140px;
}
/* Events */

.agenda .agenda-events {}

.agenda .agenda-events .agenda-event {}

@media (min-width: 768px) {
    .jumbotron-main {
      padding:15px 0px !important;
      min-height:275px;
    }
    .jumbotron-main p {
        max-width: 50%;
    }
    .jumbotron-list{
      width:65%;
    }
}

@media (min-width: 1200px) {
  .jumbotron-main .col-xs-2 {
    display:block;
  }
  .jumbotron-main .col-xs-10 {
    width:83.33333333%
  }
  .jumbotron-main h1, .jumbotron-main h2, .jumbotron-main h3, .jumbotron-main p {
    text-align:left;
  }
}