body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron-main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.jumbotron-main {
    background-image: url("../media/photo-1444877466744-dc2f2af2b931.jpeg");
    height: 300px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.jumbotron-main h1, .jumbotron-main p {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.jumbotron {
  text-align:center;
}

.jumbotron-list{
  width:65%;
  margin:0px auto;
  margin-bottom:20px;
  text-align:left;
}

@media (min-width: 768px) {
    .jumbotron-main p {
        max-width: 50%;
    }
}