
<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en-US">
    <!--<![endif]-->
    <!--[if IE 6 ]><html lang="en-US" class="ie ie6"><![endif]-->
    <!--[if IE 7 ]><html lang="en-US" class="ie ie7"><![endif]-->
    <!--[if IE 8 ]><html lang="en-US" class="ie ie8"><![endif]-->
    {% include tdwg2018-head.html %}
    <body class="Page" dir="ltr">
        {% include tdwg2018-header.html %}
        <div class="main" role="main">
        	<div class="inner typography line">
        		<aside class="sidebar unit size1of4">
                    {% include tdwg2018-sidebar.html %}
                </aside>

                <div class="content-container unit size3of4 lastUnit">
                	<article>
                		{{ content }}
                	</article>
                </div>
        	</div>
        </div>
        {% include tdwg2018-footer.html %}
        <script type="text/javascript" src="/assets/tdwg2018/js/jquery.js?m=1496008436"></script>
        <script type="text/javascript" src="/assets/tdwg2018/js/script.js"></script>
        <script type="text/javascript" src="/assets/tdwg2018-custom.js"></script>
    </body>
</html>
